@charset "utf-8";

:host {
  display: block;
}

:host(:hover) {
  background-color: #F4F4F5;
}

slot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  height: 56px;
  padding: 0 16px;
  font-size: 15px;
  width: 100%;
  color: rgb(7, 7, 7);
}

slot::slotted(*:first-child) {
  height: 24px;
  width: 24px;
  margin-right: 30px;
}
