:host {
  display: block;
  overflow: hidden;
  -webkit-mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 15px);
}

slot {
  display: block;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

::slotted(*) {
  flex: none;
}
