:host {
  display: block;
  overflow: hidden;
}

slot {
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

:host([bottom]) slot {
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
}

::slotted(*) {
  flex: none;
}
