:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

slot {
  display: block;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

::slotted(*) {
  flex: none;
}
