@charset "utf-8";

:host {
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

label {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--blueColor);
  height: 100%;
}

:host(:hover) label {
  background: var(--blueColorHover);
}

:host(:active) label,
:host(:focus) label,
:host(:focus-within) label {
  background: var(--blueColorActive);
}

ui-icon {
  width: 33%;
  height: 33%;
  pointer-events: none;
  color: white;
}
