:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* width: 360px; */
  bottom: 0;
  justify-content: center;
  text-align: center;
  padding-top: 108px;
  flex-direction: column;
  /* margin: 0 auto; */
}

form-confirm {
  display: none;
}

tgs-player {
  display: none;
  width: 120px;
  height: 120px;
}
