@charset "utf-8";

:host {
  display: block;
  font: var(--font);

  --color: red;

  padding-top: .66667rem;
  position: relative;
}

slot {
  display: block;
}

slot[name="content"] {
  font-size: 5.33333rem;
}

span {
  position: absolute;
  font-size: .73333rem;
  /* color: #a3adb6; */
  font-weight: 400;
  right: 4PX;
  bottom: 1PX;

  background: rgba(0,0,0,.2);
  color: #fff;
  border-radius: .73333rem;
  padding: 2PX 6PX;
}
