@charset "utf-8";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: rgb(112, 117, 121);
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
}

div {
  width: 100%;
  height: 4px;
  background-color: rgb(78, 164, 246);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  visibility: hidden;
  margin-top: 11px;
  margin-bottom: -1px;
}
:host([selected]) div {
  visibility: visible;
  color: rgb(78, 164, 246);
}

slot {
  margin-bottom: 10px;
}

:host(:first-child) {
  margin-left: 25px;
}

:host(:last-child) {
  margin-right: 25px;
}
