@charset "utf-8";

:host {
    display: block;
    margin: -8px 0;
}

ui-tabs {
    width: 420px;
}

.wrap {
    height: 370px;
}

.box {
    height: 325px;
    overflow-y: scroll;
}

.list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    font-size: 32px;
    justify-content: flex-start;
    padding: 9px;
    box-sizing: border-box;
}

.list div, .list img {
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    margin: 0px 1px;
}

.list img {
    width: 75px;
    height: 75px;
}

.group {
    width: 420px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--edge);
    padding-left: 2px;
    box-sizing: border-box;
}

.group .item {
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0 5px;
}

.group .item img {
    width: 100%;
    height: 100%;
}

.group .item[active="true"] ui-icon {
    color: var(--iconHover);
}
