:root {
  font-size: 15px;
  overflow: hidden; /* ! */
}

* {
  font-family: var(--font);
}

body {
  --drop:                   var(--light-drop);
  --edge:                   var(--light-edge);
  --field:                  var(--light-field);
  --shadow:                 var(--light-shadow);
  --foreground:             var(--light-foreground);
  --foreground-label:       var(--light-foreground-label);
  --foreground-accent:      var(--light-foreground-accent);
  --background:             var(--light-background);
  --background-alpha:       var(--light-background-alpha);
  --background-field:       var(--light-background-field);
  --background-aside:       var(--light-background-aside);
  --background-aside-hover: var(--light-background-aside-hover);
  --background-message:     var(--light-background-message);
  --background-message-in:  var(--light-background-message-in);
  --background-message-out: var(--light-background-message-out);
}

body.dark {
  --drop:                   var(--dark-drop);
  --edge:                   var(--dark-edge);
  --field:                  var(--dark-field);
  --shadow:                 var(--dark-shadow);
  --foreground:             var(--dark-foreground);
  --foreground-label:       var(--dark-foreground-label);
  --foreground-accent:      var(--dark-foreground-accent);
  --background:             var(--dark-background);
  --background-alpha:       var(--dark-background-alpha);
  --background-field:       var(--dark-background-field);
  --background-aside:       var(--dark-background-aside);
  --background-aside-hover: var(--dark-background-aside-hover);
  --background-message:     var(--dark-background-message);
  --background-message-in:  var(--dark-background-message-in);
  --background-message-out: var(--dark-background-message-out);
}

body {
  background: var(--background-aside);
  color:      var(--foreground);
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
