
.input {
  position: relative;
  background: #fff;
  border-radius: .73333rem;
  border: 1px solid transparent;
  transition: border-color .2s ease
}

.input__label {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1rem;
  top: 2px;
  left: 1rem;
  height: 90%;
  height: calc(100% - .26667rem);
  border-radius: .66667rem;
  color: #a2acb4;
  transition: .2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0
}

.input.filled .input__label {
  top: -.66667rem;
  left: .8rem;
  height: 1.33333rem;
  padding: 0 .2rem;
  font-size: .8rem;
  background: #fff;
  z-index: 1
}

.input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem .93333rem;
  height: 3.6rem;
  width: 100%;
  border: 1px solid #dee0e3;
  box-sizing: padding-box;
  border-radius: .66667rem;
  outline: none;
  transition: .2s ease;
  position: relative;
  z-index: 1;
  background: transparent;
  font-size: 15PX
}

.input input:disabled {
  color: #5c5c5c
}

.input.focused {
  border-color: #4ea4f5
}

.input.focused input {
  outline: none;
  border-color: #4ea4f5
}

.input.focused.filled .input__label {
  color: #4ea4f5
}

.input.error,.input.error input {
  border-color: #ea615d
}

.input.error.filled .input__label {
  color: #ea615d
}

.phoneinput {
  border: 1px solid transparent;
  border-radius: .73333rem;
  transition: border-color .2s ease;
  font-size: 15PX
}

.phoneinput__container {
  border-radius: .66667rem;
  padding: 1rem 0 1rem .93333rem;
  height: 3.6rem;
  width: 100%;
  border: 1px solid #dee0e3;
  border-radius: 10px;
  transition: border-color .2s ease;
  position: relative;
  justify-content: flex-start
}

.phoneinput__container,.phoneinput__label {
  background: #fff;
  z-index: 1;
  display: flex;
  align-items: center
}

.phoneinput__label {
  position: absolute;
  font-size: .8rem;
  top: -.66667rem;
  left: .8rem;
  height: 1.33333rem;
  padding: 0 .2rem;
  border-radius: .66667rem;
  color: #a2acb4;
  transition: .2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.phoneinput__prefix {
  line-height: 135%;
  flex: none;
  max-width: 40%
}

.phoneinput.disabled .phoneinput__prefix {
  color: #5c5c5c
}

.phoneinput.focused,.phoneinput.focused .phoneinput__container {
  border-color: #4ea4f5
}

.phoneinput.focused .phoneinput__label {
  color: #4ea4f5
}

.phoneinput.error,.phoneinput.error .phoneinput__container {
  border-color: #ea615d
}

.phoneinput.error .phoneinput__label {
  color: #ea615d
}

.phoneinput input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  padding: 1rem .93333rem 1rem .66667rem;
  height: 2.93333rem;
  flex: 0 100%;
  line-height: 135%;
  letter-spacing: .5px;
  font-size: inherit
}

.phoneinput input:focus {
  outline: none
}

.phoneinput input:disabled {
  color: #5c5c5c
}

.select {
  position: relative
}

.select .select__input {
  padding-right: 2.33333rem
}

.select__arrow {
  position: absolute;
  top: 1.4rem;
  right: 1.06667rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  z-index: 2
}

.select__arrow:after,.select__arrow:before {
  top: .4rem;
  right: 0;
  position: absolute;
  content: "";
  display: inline-block;
  width: .73333rem;
  height: 2px;
  background-color: #dee0e3;
  transition: .3s ease;
  z-index: 1;
  border-radius: 1px
}

.select__arrow:before {
  transform: rotate(45deg);
  right: .46667rem
}

.select__arrow:after {
  transform: rotate(-45deg)
}

.select.filled .select__arrow:before {
  transform: rotate(-45deg);
  right: 0;
  width: .93333rem
}

.select.filled .select__arrow:after {
  transform: rotate(45deg);
  right: 0;
  width: .93333rem
}

.select.focused .select__arrow:before {
  background-color: #4ea4f5;
  transform: rotate(-45deg)
}

.select.focused .select__arrow:after {
  background-color: #4ea4f5;
  transform: rotate(45deg)
}

.select__options {
  position: absolute;
  top: 120%;
  width: 100%;
  background: #fff;
  border-radius: .66667rem;
  box-shadow: 0 .2rem .46667rem rgba(0,0,0,.15);
  z-index: 3;
  max-height: 16rem;
  animation: appear .2s;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden
}

.select__option {
  height: 3.2rem;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #f4f4f5;
  transition: background .1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 .93333rem;
  display: flex;
  flex-direction: row;
  align-items: center
}

.select__option:last-child {
  border-bottom: 0
}

.select__option.active {
  background: #f4f4f5
}

.ripple {
  position: relative;
  overflow: hidden
}

.ripple__content {
  position: relative;
  z-index: 2
}

.ripple__effect {
  background-color: rgba(0,0,0,.08);
  width: 2rem;
  height: 2rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  animation: ripple-effect .9s ease-out forwards;
  z-index: 1
}

@keyframes ripple-effect {
  0% {
      transform: translate(-50%,-50%)
  }

  80% {
      transform: translate(-50%,-50%) scale(25)
  }

  to {
      transform: translate(-50%,-50%) scale(25);
      opacity: 0
  }
}

.materialSpinner circle {
  animation: materialSpinner__dash 1.5s ease-in-out infinite,materialSpinner__rotate 2s linear infinite;
  transform-origin: center
}

@keyframes materialSpinner__rotate {
  to {
      transform: rotate(1turn)
  }
}

@keyframes materialSpinner__dash {
  0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0
  }

  50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -2.33333rem
  }

  to {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -8.26667rem
  }
}

.button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.06667rem;
  margin: 0;
  min-height: 3.6rem;
  width: 100%;
  background: #4ea4f5;
  color: #fff;
  text-align: center;
  border-radius: .66667rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  outline: none;
  cursor: pointer;
  padding: .33333rem .66667rem
}

.button:focus,.button:hover {
  background: #4797e2;
  outline: none
}

.button:disabled {
  cursor: not-allowed;
  background: #4797e2
}

.button__spinner {
  display: none;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  top: calc(50% - .9rem);
  right: .86667rem
}

.button__spinner circle {
  stroke: #fff
}

.button.loading {
  padding-left: 3rem;
  padding-right: 3rem
}

.button.loading .button__spinner {
  display: block
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: .2rem;
  width: 1.6rem;
  height: 1.6rem
}

.checkbox__input {
  display: none
}

.checkbox__box {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: .2rem;
  border: 2px solid #707579;
  transition: .3s ease;
  box-sizing: border-box
}

.checkbox__checkmark {
  position: absolute;
  left: calc(50% - .46667rem);
  top: calc(50% - .33333rem);
  width: 0;
  height: .66667rem;
  overflow: hidden;
  transition: .3s ease;
  pointer-events: none
}

.checkbox__checkmark_image {
  position: absolute;
  top: 0;
  left: 0;
  width: .93333rem;
  height: .66667rem
}

.checkbox__checkmark_image path {
  fill: #fff
}

.checkbox__input:checked+.checkbox__box {
  border-color: #4ea4f5;
  background: #4ea4f5
}

.checkbox__input:checked+.checkbox__box .checkbox__checkmark {
  width: .93333rem
}

.checkbox__input:disabled+.checkbox__box {
  opacity: .8;
  cursor: not-allowed
}

.checkbox__ripple {
  border-radius: 100%;
  width: 2.93333rem;
  height: 2.93333rem;
  position: absolute;
  top: calc(50% - 1.46667rem);
  left: calc(50% - 1.46667rem);
  pointer-events: none;
  animation: checkbox-ripple .42s ease-out forwards
}

.checkbox__ripple.-on {
  background: #4ea4f5
}

.checkbox__ripple.-off {
  background: #707579
}

@keyframes checkbox-ripple {
  0% {
      transform: scale(.2);
      opacity: 0
  }

  60% {
      transform: scale(1);
      opacity: .2
  }

  to {
      transform: scale(1);
      opacity: 0
  }
}

.passwordInput {
  position: relative
}

.passwordInput .passwordInput__input {
  padding-right: 2.86667rem
}

.passwordInput__toggle_hide,.passwordInput__toggle_show {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: calc(50% - .8rem);
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.passwordInput__toggle_hide path,.passwordInput__toggle_show path {
  fill: #8d969c
}

.passwordInput__toggle_show {
  display: none
}

.passwordInput.-hidden .passwordInput__toggle_show {
  display: block
}

.passwordInput.-hidden .passwordInput__toggle_hide {
  display: none
}

.login {
  height: 100%;
  overflow-y: auto;
  animation: appear .4s ease-out
}

.login__transition {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.login__form {
  max-width: 28.4rem;
  padding: 2rem;
  position: relative
}

.login__form,.login__subform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.login__logo {
  width: 10.8rem;
  height: 10.8rem;
  margin-bottom: 2.8rem
}

.login__title {
  font-size: 2.13333rem;
  font-weight: 500;
  padding: 0;
  margin: 0 0 .6rem;
  text-align: center
}

.login__title_icon {
  display: inline-block;
  vertical-align: baseline;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  margin-left: .66667rem
}

.login__title_icon path {
  fill: #707579
}

.login__description {
  color: #707579;
  text-align: center;
  padding: 0;
  max-width: 16rem;
  margin: 0 0 3.2rem;
  white-space: pre-wrap
}

.login__inputs {
  width: 100%
}

.login__inputs .input,.login__inputs .phoneinput {
  margin-bottom: 1.46667rem
}

.login__checkmark {
  display: block;
  margin: 0 .93333rem 2.86667rem;
  font-size: 1.06667rem
}

.login__checkmark>.checkbox {
  margin-top: -1px;
  margin-bottom: 1px
}

.login__checkmark>.checkbox:first-child {
  margin-right: 2.13333rem
}

.login__upload {
  width: 10.8rem;
  height: 10.8rem;
  margin-bottom: 2.8rem;
  background-color: #4797e2;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform .3s ease
}

.login__upload.uploaded .login__upload_preview {
  display: block
}

.login__upload.dragged {
  transform: scale(1.2)
}

.login__upload input {
  position: absolute;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2
}

.login__upload_preview {
  width: 100%;
  min-height: 100%;
  display: none
}

.login__upload:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../../asset/1496d7fb8f767e6301af297b23c0ca22.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 3.33333rem auto;
  z-index: 1
}

.login__upload.uploaded:after {
  opacity: 0;
  background-color: rgba(0,0,0,.3);
  transition: .2s
}

.login__upload.dragged:after,.login__upload.uploaded:hover:after {
  display: block;
  opacity: 1
}

.logincountry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%
}

.logincountry__flag {
  font-size: 1.5rem;
  padding-right: 1rem
}

.logincountry__label {
  flex: 0 100%;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis
}

.logincountry__phone {
  text-align: right;
  font-size: .9rem;
  color: #707579;
  flex: none;
  margin-left: .66667rem;
  max-width: 35%
}

.login__transition .removed-left {
  position: absolute;
  animation: fadeOutLeft .3s ease-in-out forwards
}

.login__transition .removed-right {
  position: absolute;
  animation: fadeOutRight .3s ease-in-out forwards
}

.login__transition .appeared-right {
  animation: fadeInRight .3s ease-in-out backwards;
  animation-delay: .1s
}

.login__transition .appeared-left {
  animation: fadeInLeft .3s ease-in-out backwards;
  animation-delay: .1s
}

@keyframes appear {
  0% {
      opacity: 0;
      transform: translateY(3.33333rem)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes fadeOutLeft {
  to {
      opacity: 0;
      transform: translateX(-100%)
  }
}

@keyframes fadeOutRight {
  to {
      opacity: 0;
      transform: translateX(100%)
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(100%)
  }
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100%)
  }
}

.monkey {
  position: relative;
  margin-bottom: 1.66667rem;
  width: 11.33333rem;
  height: 11.33333rem
}

.monkey__state {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.monkey__state.hidden {
  display: none
}


.photo {
  position: relative;
  max-width: 21.33333rem;
  max-height: 21.33333rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.photo.landscape {
  width: 21.33333rem;
  min-height: 3.2rem
}

.photo.landscape img {
  width: 21.33333rem;
  display: block
}

.photo.portrait {
  height: 21.33333rem;
  min-width: 6.66667rem
}

.photo.portrait img {
  height: 21.33333rem;
  display: block
}

.photo__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  opacity: .3
}

.photo__loader {
  position: absolute;
  left: calc(50% - 1.6rem);
  top: calc(50% - 1.6rem);
  right: auto;
  height: auto;
  margin: 0 auto;
  background: rgba(0,0,0,.2);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}

.photo__loader svg {
  width: 2rem;
  height: 2rem
}

.photo__loader svg circle {
  stroke: #fff
}

.photo__thumbnail {
  overflow: hidden
}

.photo__thumbnail img {
  filter: blur(.8rem)
}

.photo__thumbnail.removed {
  position: absolute;
  animation: thumbRemoved .4s ease
}

.photo__preview {
  cursor: pointer;
  overflow: hidden;
  animation: previewAppear .4s ease
}

@keyframes previewAppear {
  0% {
      opacity: 0
  }
}

@keyframes thumbRemoved {
  to {
      opacity: 0
  }
}
