:root {
  /* --font: 'Roboto', Arial, Helvetica, Verdana, sans-serif; */
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --blueTextColor: #4B91E5;
  --blueMessageColor: #49A1EB;
  --blueColor: #62A4EF;
  --blueColorHove: #5A96DB;
  --blueColorActive: #528ACA;
  --grayColor: #DADCE0;
  --chatBgColor: #E7EBEE;
  --white: #ffffff;
  --black: #000000;

  --grayBorderColor: #DADCE0;
  --grayBgColor: #F4F4F5;
  --grayAvatarBgColor: #e8e8e8;
  --grayIconColor: #C5C9CC;
  --grayTextColor: #717579;
  --red: #D4483E;
  --redTextColor: #CE4C47;

  --greenColor: #5AC14A;
}
