:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --blueTextColor:    #4B91E5;
  --blueMessageColor: #49A1EB;
  --blueColor:        #62A4EF;
  --blueColorHover:   #5A96DB;
  --blueColorActive:  #528ACA;
  --grayColor:        #DADCE0;
  --chatBgColor:      #E7EBEE;

  --grayBorderColor:   #DADCE0;
  --grayBgColor:       #F4F4F5;
  --grayAvatarBgColor: #e8e8e8;
  --grayIconColor:     #C5C9CC;
  --grayTextColor:     #717579;

  --red:               #D4483E;
  --redTextColor:      #CE4C47;
  --greenColor:        #5AC14A;

  --iconStatic: #707579;
  --iconHover:  #63A4EF;
  --iconActive: #000;

  --light-drop:                   #fff;
  --light-field:                  #fff;
  --light-shadow:                 rgba(0, 0, 0, 0.4);
  --light-foreground:             #222;
  --light-foreground-label:       #707579;
  --light-foreground-accent:      #000;
  --light-background:             #E7EBEE;
  --light-background-alpha:       rgba(255,255,255,0.7);
  --light-background-field:       #f4f4f5;
  --light-background-aside:       #fff;
  --light-background-aside-hover: #f1f3f4;
  --light-background-message:     #C5C9CC;
  --light-background-message-in:  #fff;
  --light-background-message-out: #F1FEE1;

  --dark-drop:                   #202124;
  --dark-field:                  #25282F;
  --dark-shadow:                 rgba(55, 55, 55, 0.4);
  --dark-foreground:             #C6C9CC;
  --dark-foreground-label:       #707579;
  --dark-foreground-accent:      #ABCAEE;
  --dark-background:             #111419;
  --dark-background-alpha:       rgba(0,0,0,0.7);
  --dark-background-field:       #25282f;
  --dark-background-accent:      #495F77;
  --dark-background-aside:       #191C21;
  --dark-background-aside-hover: #21242A;
  --dark-background-message:     #A1A4A6;
  --dark-background-message-in:  #1C2027;
  --dark-background-message-out: #2C343C; /* 3E4B5D */
}
