:host {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

ui-avatar {
  width: 60px;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 0 0 0 20px;
  flex-direction: column;
  overflow: hidden;
}

.right {
  white-space: nowrap;
  flex-shrink: 0;
}
