@charset "utf-8";

:host {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:". avatar ."
                      ". content ."
                      ". markup .";
  justify-items: center;
  align-items: end;
  grid-column-gap: 4px;
  grid-row-gap: 2px;

  --avatar: 30px;
}

:host([left]) {
  grid-template-areas:"avatar content ."
                      ". markup .";
  grid-template-columns: fit-content(var(--avatar)) fit-content(80%) auto;
  justify-items: start;
}
:host([right]) {
  grid-template-areas:". content avatar"
                      ". markup .";
  grid-template-columns: auto fit-content(80%) fit-content(var(--avatar));
  justify-items: end;
}

slot {
  font-family: var(--font);
  display: block;
  /* max-width: 80%; */
}

slot:not([name]) { /* содержимое сообщения */
  /* display: inline-block; */
  grid-area: content;
  /* background: var(--color-default-light);
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  border-radius: .4em;
  padding: 1em;
  max-width: 100%; */
}

slot:not([name])::slotted(*) {
  margin-top: 4px;
}

slot[name="avatar"] {
  display: block;
  /* width: 2rem;
  height: 2rem; */
}

slot[name="markup"] {
  display: inline-block;
  grid-area: markup;
  width: 100%;
}

slot[name="markup"]::slotted(*) {
  width: 100%;
}
