<template>
  <link rel="stylesheet" href="./form-language.css" />

  <ui-header back="route-aside">Language</ui-header>
  <main>
    <ui-radio hint="English">English</ui-radio>
    <ui-radio hint="Catalan">Català</ui-radio>
    <ui-radio hint="Dutch">Nederlands</ui-radio>
    <ui-radio hint="French">Français</ui-radio>
    <ui-radio hint="German">Italiano</ui-radio>
    <ui-radio hint="Italian">Deutsch</ui-radio>
    <ui-radio hint="Korean">한국어</ui-radio>
    <ui-radio hint="Malay">Bahasa Melayu</ui-radio>
    <ui-radio hint="Portuguese (Brazil)">Português (Brasil)</ui-radio>
    <ui-radio hint="Russian">Русский</ui-radio>
    <ui-radio hint="Spanish">Español</ui-radio>
    <ui-radio hint="Turkish">Türkçe</ui-radio>
    <ui-radio hint="Ukrainian">Українська</ui-radio>
  </main>
</template>
