<template>
  <link rel="stylesheet" href="./form-language.css" />

  <ui-header back="route-aside">Language</ui-header>
  <main>
    <label style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span>
      <span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">English</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">English</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Català</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Catalan</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Nederlands</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Dutch</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Français</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">French</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Deutsch</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">German</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Italiano</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Italian</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">한국어</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Korean</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Bahasa Melayu</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Malay</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Português (Brasil)</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Portuguese
          (Brazil)</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#4EA4F6" fill-rule="nonzero"
                d="M12,7 C9.2,7 7,9.2 7,12 C7,14.8 9.2,17 12,17 C14.8,17 17,14.8 17,12 C17,9.2 14.8,7 12,7 L12,7 Z M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Русский</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Russian</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Español</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Spanish</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Türkçe</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Turkish</span></span></label><label
      style="cursor: pointer; display: flex; align-items: flex-start; margin-bottom: 32px;"><input type="radio"
        style="position: absolute; left: -9999px; opacity: 0; visibility: hidden;"><span style="height: 24px;">
        <div class="icon-wrap"><svg width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"></polygon>
              <path fill="#707579" fill-rule="nonzero"
                d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 L12,2 Z M12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C16.4,4 20,7.6 20,12 C20,16.4 16.4,20 12,20 L12,20 Z">
              </path>
            </g>
          </svg></div>
      </span><span style="display: block; margin-left: 32px;"><span
          style="display: block; font-size: 16px; color: rgb(7, 7, 7);">Українська</span><span
          style="display: block; font-size: 14px; color: rgb(112, 117, 121); margin-top: 5px;">Ukrainian</span></span></label>
  </main>
</template>
