@charset "utf-8";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

main {
  display: block;
  height: 100%;
  overflow-y: auto;
}

ui-checkbox {
  margin-bottom: 32px;
}
