<template>
  <link rel="stylesheet" href="./form-notifications.css" />

  <ui-header back="route-aside">Noitifications</ui-header>

  <main>
    <ui-fieldset name="Private Chats">
      <ui-checkbox checked hint>Notifications for private chats</ui-checkbox>
      <ui-checkbox checked hint>Message preview</ui-checkbox>
    </ui-fieldset>

    <ui-fieldset name="Groups">
      <ui-checkbox checked hint>Notifications for groups</ui-checkbox>
      <ui-checkbox checked hint>Message preview</ui-checkbox>
    </ui-fieldset>

    <ui-fieldset name="Channels">
      <ui-checkbox checked hint>Notifications for channels</ui-checkbox>
      <ui-checkbox checked hint>Message preview</ui-checkbox>
    </ui-fieldset>

    <ui-fieldset name="Other">
      <ui-checkbox hint>Contacts joined Telegram</ui-checkbox>
    </ui-fieldset>
  </main>
</template>
