<template>
  <link rel="stylesheet" href="./layout-settings.css" />

  <ui-header back="route-aside">
    Settings
    <ui-item slot="more" id="logout">
      <ui-icon>exit</ui-icon>
      Log Out
    </ui-item>
  </ui-header>

  <main>
    <ui-avatar src="./content/c5d83ed4-f41d-4ac6-8061-7ffe73d4501a.jpeg" color="C394DD">X</ui-avatar>
    <h1>xaota</h1>
    <h2>+79610433909</h2>

    <div style="padding: 0px 8px">
      <ui-item data-route="form-settings">
        <ui-icon>edit</ui-icon>
        Edit Profile
      </ui-item>

      <ui-item data-route="form-general">
        <ui-icon>settings</ui-icon>
        General Settings
      </ui-item>

      <ui-item data-route="form-notifications">
        <ui-icon>notifications</ui-icon>
        Notifications
      </ui-item>

      <ui-item data-route="form-privacy">
        <ui-icon>security</ui-icon>
        Privacy and Security
      </ui-item>

      <ui-item data-route="form-language">
        <ui-icon>language</ui-icon>
        Language
      </ui-item>
    </div>
  </main>
</template>
