<template>
  <link rel="stylesheet" href="./layout-settings.css" />

  <ui-header back="route-aside">
    Settings
    <ui-item icon="exit" slot="more" id="logout">Log Out</ui-item>
  </ui-header>

  <main>
    <ui-avatar></ui-avatar>
    <h1></h1>
    <h2></h2>

    <div style="padding: 0px 8px">
      <ui-item icon="edit" data-route="form-settings">Edit Profile</ui-item>
      <ui-item icon="settings" data-route="form-general">General Settings</ui-item>
      <ui-item icon="notifications" data-route="form-notifications">Notifications</ui-item>
      <ui-item icon="security" data-route="form-privacy">Privacy and Security</ui-item>
      <ui-item icon="language" data-route="form-language">Language</ui-item>
    </div>
  </main>
</template>
