<template>
  <link rel="stylesheet" href="./layout-settings.css" />

  <ui-header back>
    Settings
    <ui-item slot="more">
      <icon-exit></icon-exit>
      Log Out
    </ui-item>
  </ui-header>

  <main>
    <ui-avatar src="./content/c5d83ed4-f41d-4ac6-8061-7ffe73d4501a.jpeg" color="C394DD">X</ui-avatar>
    <h1>xaota</h1>
    <h2>+79610433909</h2>

    <div style="padding: 0px 8px">
      <ui-item>
        <icon-edit></icon-edit>
        Edit Profile
      </ui-item>
      <ui-item>
        <icon-settings></icon-settings>
        General Settings
      </ui-item>
      <ui-item>
        <icon-notifications></icon-notifications>
        Notifications
      </ui-item>
      <ui-item>
        <icon-security></icon-security>
        Privacy and Security
      </ui-item>
      <ui-item>
        <icon-language></icon-language>
        Language
      </ui-item>
    </div>
  </main>
</template>
