@charset "utf-8";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

main {
  height: 100%;
  overflow-y: auto;
}

ui-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto 26px;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: 14px;
  color: rgb(115, 120, 124);
  margin-bottom: 20px;
  font-weight: normal;
}

main ui-item {
  border-radius: 8px;
}

main ui-item ui-icon {
  color: #707579;
}

main ui-item:hover ui-icon {
  color: #63A4EF;
}

