:host {
  /* display: block; */
  font-size: 16px;
  box-sizing: border-box;

  cursor: not-allowed;
  padding: 0 1.33333rem;

  /* margin: 0 auto; */
  /* padding: .33333rem 0 1.2rem; */
  max-width: 46.66667rem;
  border-top: 1px solid #dadce0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:host([hidden]) {
  display: none;
}

.msginput__bubble_wrap {
  position: relative;
  flex: 1 50%
}

.msginput__bubble_wrap:after {
  right: -8.5PX;
  bottom: -1PX;
  z-index: 2;
  background-image: url(../../../asset/2d3ca08292fd93092df78a45e3eb1fba.svg)
}

.msginput__bubble_wrap:after,.msginput__bubble_wrap:before {
  position: absolute;
  width: 11PX;
  height: 20PX;
  content: "";
  background-size: 100%;
  transform: scaleX(-1)
}

.msginput__bubble_wrap:before {
  right: -9.5PX;
  bottom: -2PX;
  background-image: url(../../../asset/8f96f57ab2acaadc25190c4fd61a2ea9.svg);
  z-index: 0
}

.msginput__bubble {
  background: #fff;
  border-radius: .66667rem;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  /* width: 100%; */
  height: 3.6rem;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .53333rem 1.06667rem;
  outline: none;
  position: relative;
  box-sizing: border-box;
}

.msginput__bubble input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: Roboto;
  font-size: 1.06667rem;
  cursor: not-allowed;
  background: #fff
}

.msginput__bubble__icon_emoji {
  width: 1.86667rem;
  height: 1.86667rem;
  background: url(../../../asset/0a096b311e28806b8242fc7ae6d6a260.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 1.06667rem
}

.msginput__btn {
  background-color: #4ea4f5;
  background-image: url(../../../asset/807c58a2befdec4212a3a7c41d886e49.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  margin-left: .53333rem
}
