:host {
  flex: 1 50%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(../../../asset/chamomile.jpg);
}

conversation-header {
  height: 4.13333rem;
}

ui-list {
  padding-left: 20px;
}

ui-message {
  margin-bottom: 2px;
}

conversation-input {
  padding-bottom: 1.2rem;
}
