:host {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url(../../../asset/chamomile.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}

:host-context(body.dark) .mid {
  background-image: none;
}

conversation-header {
  height: 4.13333rem;
}

ui-list {
  padding-left: 20px;
  min-width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 700px;
  padding-right: 24px;
  -webkit-mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 15px);
}

app-message {
  margin-top: 2px;
}

app-message:first-of-type {
  margin-bottom: 16px;
}

conversation-input {
  padding-bottom: 1.2rem;
}

aside {
  overflow: hidden;
  background: var(--background-aside);
  flex-shrink: 0;
}

ui-fab {
  top: -60px;
  right: -62px;
  background: none;
}
