:host {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(../../../asset/chamomile.jpg) no-repeat;
  background-size: cover;
}

:host-context(body.dark) .mid {
  background-image: none;
}

conversation-header {
  height: 4.13333rem;
}

ui-list {
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 700px;
  padding-right: 24px;
}

app-message {
  margin-bottom: 2px;
}

conversation-input {
  padding-bottom: 1.2rem;
}

aside {
  overflow: hidden;
  background: var(--background-aside);
  flex-shrink: 0;
}
