:host {
  display: block;
  width: 360px;
  font-family: var(--font);
  color: #070707;
  margin: 0 auto;
}

ui-logo {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 44px;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-top: 13px;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 21px;
  color: #707579;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

ui-checkbox {
  margin-bottom: 32px;
  margin-left: 19px;
}
