<template>
  <link rel="stylesheet" href="./layout-profile.css" />

  <div class="header">
    <ui-icon id="close">close</ui-icon>
    <div class="info">Info</div>
    <ui-icon id="more">more</ui-icon>
  </div>

  <div class="profile">
    <ui-avatar slot="avatar" src="./content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" color="D77F7C"></ui-avatar>
    <div class="name">Karen Stanford</div>
    <div class="status online">online</div>
    <div class="list">

      <div class="item">
        <div class="left">
          <ui-icon>live-location</ui-icon>
        </div>
        <div class="right">
          <div>Live location</div>
          <div class="desc">Karen is sharing live location</div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <ui-icon>info</ui-icon>
        </div>
        <div class="right">
          <div>25 y.o. traveler</div>
          <div class="desc">Bio</div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <ui-icon>username</ui-icon>
        </div>
        <div class="right">
          <div>kare</div>
          <div class="desc">Username</div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <ui-icon>phone</ui-icon>
        </div>
        <div class="right">
          <div>+1 123 23232323</div>
          <div class="desc">Phone</div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <ui-icon>close</ui-icon>
        </div>
        <div class="right">
          <div>Notifications</div>
          <div class="desc">Enabled</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <ui-tabs>
        <ui-tab id="media" selected>Media</ui-tab>
        <ui-tab id="docs">Docs</ui-tab>
        <ui-tab id="links">Links</ui-tab>
        <ui-tab id="audio">Audio</ui-tab>
      </ui-tabs>
      <div id="#tabContainer" class="container">
        <ui-grid rows="auto" columns="100%" row-gap="20px" column-gap="10px">
          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />
          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />
          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />
          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />
        </ui-grid>
      </div>
    </div>
  </div>
</template>
