<template>
  <link rel="stylesheet" href="./layout-profile.css" />

  <div class="header">
    <ui-icon id="close">close</ui-icon>
    <div class="info">Info</div>
    <ui-icon id="more">more</ui-icon>
  </div>

  <div class="profile">
    <ui-avatar slot="avatar" src="./content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" color="D77F7C"></ui-avatar>
    <div class="name">Karen Stanford</div>
    <div class="status">offline</div>
    <div class="list">

<!--      <div class="item">-->
<!--        <div class="left">-->
<!--          <ui-icon>live-location</ui-icon>-->
<!--        </div>-->
<!--        <div class="right">-->
<!--          <div>Live location</div>-->
<!--          <div class="desc">Karen is sharing live location</div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="item">-->
<!--        <div class="left">-->
<!--          <ui-icon>close</ui-icon>-->
<!--        </div>-->
<!--        <div class="right">-->
<!--          <div>Notifications</div>-->
<!--          <div class="desc">Enabled</div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="footer">
      <ui-tabs class="test">
        <ui-tab id="media" selected>Media</ui-tab>
        <ui-tab id="docs">Docs</ui-tab>
        <ui-tab id="links">Links</ui-tab>
        <ui-tab id="audio">Audio</ui-tab>
      </ui-tabs>
      <div id="#tabContainer" class="container">
        <ui-grid class="docs" rows="auto" columns="100%" row-gap="24px">
          <ui-file name="Super_Cool_Presentation.pdf" size="3.1 MB" date="Oct. 24, 2019 at 19:20"></ui-file>
          <ui-file name="Super cool presentation" size="3.1 MB" date="Oct. 23, 2019 at 15:00"></ui-file>
          <ui-file name="Super cool presentation" size="3.1 MB" date="Oct. 23, 2019 at 15:00"></ui-file>
          <ui-file name="Super cool presentation" size="3.1 MB" date="Oct. 23, 2019 at 15:00"></ui-file>
        </ui-grid>
<!--        <ui-grid id="media-grid" columns="repeat(3, 133px)" row-gap="5px" column-gap="5px">-->
<!--          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />-->
<!--          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />-->
<!--          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />-->
<!--          <img src="http://localhost:8080/content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" />-->
<!--        </ui-grid>-->
      </div>
    </div>
  </div>
</template>
