:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host([hidden]) {
  display: none;
}

.wrap {
  width: 100%;
  max-width: 720px;
  font-size: 16px;
  box-sizing: border-box;
  padding: calc(.4rem - 1px) 1.33333rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--font);
}

.msginput__bubble_wrap {
  position: relative;
  flex: 1 50%
}

.msginput__bubble_wrap:after,.msginput__bubble_wrap:before {
  position: absolute;
  width: 12px;
  right: 0;
  transform: translateX(calc(100% - 2px));
  bottom: 0;
  content: "";
}

.msginput__bubble_wrap:before { /* тень хвостика (только вниз пусть будет) */
  height: 1px; /* 0 */
  box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
}

.msginput__bubble_wrap:after {
  height: 24px;
  background: radial-gradient(ellipse farthest-side at top right, transparent 100%, var(--field) 100%);
}

.msginput__bubble {
  background: var(--field);
  border-radius: .66667rem;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  /* width: 100%; */
  z-index: 1;
  padding: .53333rem 1.06667rem;
  outline: none;
  position: relative;
  box-sizing: border-box;
}

.msg_block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.reply {
  display: flex;
  align-items: center;
}

.wrap_textarea {
  padding: 10px 0;
  flex-grow: 1;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.06667rem;
  background: none;
  color: var(--foreground);
  width: 100%;
  padding: 0;
  line-height: 20px;
  resize: none;
}

textarea:focus {
  border: none;
  outline-offset: 0;
  outline: none;
}

#close, #emoji, #attach {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 44px;
  margin-right: 16px;
}
#close {
  cursor: pointer;
  margin-right: 17px;
}
#attach {
  margin-right: 0px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  margin-left: .53333rem;
}
.action:hover ui-icon {
  color: var(--iconHover)
}

.attach-list {
  display: flex;
  flex-direction: column;
  padding: 26px 18px;
}
.attach-list ui-icon {
  padding-right: 35px;
}
.attach-list ui-icon:hover {
  color: var(--iconStatic);
}
.attach-list div {
  display: flex;
  align-items: center;
}
.attach-list div:hover {
  cursor: pointer;
}
.attach-list div + div {
  padding-top: 20px;
}
