:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host([hidden]) {
  display: none;
}

.wrap {
  width: 80%;
  font-size: 16px;
  box-sizing: border-box;
  padding: calc(.4rem - 1px) 1.33333rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--font);
}

.msginput__bubble_wrap {
  position: relative;
  flex: 1 50%
}

.msginput__bubble_wrap:after {
  right: -8.5PX;
  bottom: -1PX;
  z-index: 2;
  background-image: url(../../../asset/tail.svg)
}

.msginput__bubble_wrap:after,.msginput__bubble_wrap:before {
  position: absolute;
  width: 11PX;
  height: 20PX;
  content: "";
  background-size: 100%;
  transform: scaleX(-1)
}

.msginput__bubble_wrap:before {
  right: -9.5PX;
  bottom: -2PX;
  background-image: url(../../../asset/tail_shadow.svg);
  z-index: 0
}

.msginput__bubble {
  background: var(--field);
  border-radius: .66667rem;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  /* width: 100%; */
  z-index: 1;
  padding: .53333rem 1.06667rem;
  outline: none;
  position: relative;
  box-sizing: border-box;
}

.msg_block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.reply {
  display: flex;
  align-items: center;
}

.wrap_textarea {
  padding: 10px 0;
  flex-grow: 1;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.06667rem;
  background: none;
  color: var(--foreground);
  width: 100%;
  padding: 0;
  line-height: 20px;
  resize: none;
}

textarea:focus {
  border: none;
  outline-offset: 0;
  outline: none;
}

#close, #emoji, #attach {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 44px;
  margin-right: 16px;
}
#close {
  cursor: pointer;
  margin-right: 17px;
}
#attach {
  margin-right: 0px;
}
.enter {
  background-color: #4ea4f5;
  background-image: url(../../../asset/voice.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  margin-left: .53333rem
}

.send {
  background-image: url(../../../asset/send.svg);
}

.attach-list {
  display: flex;
  flex-direction: column;
  padding: 26px 18px;
}
.attach-list ui-icon {
  padding-right: 35px;
}
.attach-list ui-icon:hover {
  color: var(--iconStatic);
}
.attach-list div {
  display: flex;
  align-items: center;
}
.attach-list div:hover {
  cursor: pointer;
}
.attach-list div + div {
  padding-top: 20px;
}
