:host {
  flex: 1 50%;
  background: #e6ebee;
  font-family: var(--font);
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

/*
:root {
  font-size: 15px;
} */

conversation-header {
  height: 4.13333rem;
}

conversation-input {
  padding-bottom: 1.2rem;
}

/* @media only screen and (max-width: 720px) {
  :host {
      display:none
  }
} */

/* :host .messages {
  width: 100%;
  height: calc(100% - 4.1333rem);
  background-size: 33.33333rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
} */

/* :host .messages__history {
  flex: 1 50%
} */

:host .messages__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

/* .list {
  overflow: hidden;
}

.list .list__container {
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
}

.list .list__container>* {
  flex: none
}

.list.reversed {
  justify-content: flex-end;
  display: flex;
  flex-direction: column
}

.list.reversed .list__container {
  max-height: 100%;
  height: auto
} */

.list__appeared {
  animation: listAppear .3s ease;
  z-index: 1
}

.list__removed {
  position: absolute;
  animation: listRemove .3s ease
}

.list__flipping {
  transition: transform .3s ease;
  will-change: transform;
  z-index: 1
}

.test {
  background: #fff
}

@keyframes listAppear {
  0% {
      opacity: 0
  }
}

@keyframes listRemove {
  to {
      opacity: 0
  }
}

.sectionSpinner {
  width: 3.46667rem;
  height: 3.46667rem
}

.sectionSpinner circle {
  stroke: #4ea4f6
}

.avatar {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative
}

.avatar__standart {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.33333rem;
  text-transform: uppercase;
  border-radius: 50%
}

.avatar__standart.color-1 {
  background-color: #cc90e2
}

.avatar__standart.color-2 {
  background-color: #80d066
}

.avatar__standart.color-3 {
  background-color: #ecd074
}

.avatar__standart.color-4 {
  background-color: #6fb1e4
}

.avatar__standart.color-5 {
  background-color: #e57979
}

.avatar__standart.color-6 {
  background-color: #f98bae
}

.avatar__standart.color-7 {
  background-color: #73cdd0
}

.avatar__standart.color-8 {
  background-color: #fba76f
}

.avatar__standart.removed {
  position: absolute;
  animation: avatarRemoved .3s ease
}

.avatar__picture {
  display: block;
  animation: avatarAppeared .3s ease;
  border-radius: 50%;
  overflow: hidden
}

.avatar__picture,.avatar__picture img {
  width: 100%;
  height: 100%
}

@keyframes avatarRemoved {
  to {
      opacity: 0
  }
}

@keyframes avatarAppeared {
  0% {
      opacity: 0
  }
}

.msgservice {
  text-align: center
}

.msgservice__wrapper {
  padding-bottom: .66667rem
}

.msgservice__inner {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  max-width: 70%;
  color: #fff;
  background: #b3b8bb;
  height: 1.73333rem;
  border-radius: .86667rem;
  line-height: 1.33333rem;
  padding: .2rem .66667rem
}

.msgservice strong {
  font-weight: 500
}

.sticker {
  width: 13.33333rem;
  height: 13.33333rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.sticker__thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.sticker__thumb img {
  filter: blur(.33333rem);
  width: 100%;
  height: 100%
}

.sticker__thumb.removed {
  animation: stickerRemove .3s ease
}

.sticker__image,.sticker__tgs {
  width: 100%;
  height: 100%;
  animation: stickerAppear .3s ease
}

@keyframes stickerRemove {
  to {
      opacity: 0
  }
}

@keyframes stickerAppear {
  0% {
      opacity: 0
  }
}

.message {
  position: relative;
  font-size: 1rem;
  width: 100%;
  max-width: 49.33333rem;
  margin: 0 auto;
  padding: 0 20PX
}

.message__inner {
  padding-bottom: 4PX;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end
}

.message__baloon {
  background: #fff;
  border-radius: .66667rem;
  border-bottom-left-radius: .33333rem;
  border-top-left-radius: .33333rem;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(16,35,47,.15);
  z-index: 1;
  width: auto;
  max-width: 40rem;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  vertical-align: bottom
}

.message .avatar {
  width: 2rem;
  height: 2rem
}

.message .avatar__standart {
  font-size: .8rem
}

.message.with-media .message__baloon,.message.with-media .photo {
  width: 21.33333rem!important
}

.message__content {
  padding: 5PX
}

.message.last:after,.message:last-child:after {
  position: absolute;
  left: 11PX;
  width: 11PX;
  bottom: 3PX;
  height: 20PX;
  z-index: 2;
  content: "";
  background-image: url(../../../asset/2d3ca08292fd93092df78a45e3eb1fba.svg);
  background-size: 100%
}

.message.last:before,.message:last-child:before {
  position: absolute;
  left: 11PX;
  width: 11PX;
  height: 20PX;
  bottom: 1PX;
  content: "";
  background-image: url(../../../asset/8f96f57ab2acaadc25190c4fd61a2ea9.svg);
  background-size: 100%;
  z-index: 0
}

.message__text {
  padding: 0 5PX;
  font-size: 1rem;
  white-space: pre-wrap
}

.message__text:after {
  content: "";
  display: inline-block;
  width: 2rem
}

.message__text.fallback {
  font-size: .93333rem;
  font-style: italic;
  color: #707579;
  line-height: 180%
}

.message__date {
  position: absolute;
  font-size: .73333rem;
  color: #a3adb6;
  font-weight: 400;
  right: 4PX;
  bottom: 1PX
}

.message.chat.last:after,.message.chat.last:before,.message.chat:last-child:after,.message.chat:last-child:before {
  left: 45.5PX
}

.message.chat {
  padding-left: 54PX
}

.message.chat .message__baloon {
  max-width: 80%
}

.message .avatar {
  margin-right: .26667rem;
  display: none
}

.message.last,.message:last-child {
  padding-left: 20PX
}

.message.last .avatar,.message:last-child .avatar {
  display: block
}

.message__title {
  font-size: .93333rem;
  font-weight: 500;
  color: #1da1f1;
  line-height: 150%;
  display: none
}

.message__title.color-1 {
  color: #cc90e2
}

.message__title.color-2 {
  color: #80d066
}

.message__title.color-3 {
  color: #ecd074
}

.message__title.color-4 {
  color: #6fb1e4
}

.message__title.color-5 {
  color: #e57979
}

.message__title.color-6 {
  color: #f98bae
}

.message__title.color-7 {
  color: #73cdd0
}

.message__title.color-8 {
  color: #fba76f
}

.message.first .message__title,.message:first-child .message__title {
  display: block
}

.message.out .message__title {
  display: none
}

.message.out .message__inner {
  flex-direction: row-reverse
}

.message.out .message__baloon {
  background: #eeffde;
  border-bottom-right-radius: .33333rem;
  border-top-right-radius: .33333rem;
  border-bottom-left-radius: .66667rem;
  border-top-left-radius: .66667rem
}

.message.last.out:after,.message.out:last-child:after {
  background-image: url(../../../asset/242f3ac431e456b93b3ac51dbb843a2c.svg);
  left: auto;
  right: 11PX
}

.message.last.out:before,.message.out:last-child:before {
  background-image: url(../../../asset/06209e13bcaa6e159419201b8c3d83a1.svg);
  left: auto;
  right: 11PX
}

.message.out .message__date {
  color: #54b152
}

.message.first .message__baloon,.message:first-child .message__baloon {
  border-top-left-radius: .66667rem;
  border-top-right-radius: .66667rem
}

.message.last .message__baloon,.message:last-child .message__baloon {
  border-bottom-left-radius: 0
}

.message.out.last .message__baloon,.message.out:last-child .message__baloon {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: .66667rem
}

.message.last.media .message__baloon {
  border-bottom-left-radius: .66667rem;
  border-bottom-right-radius: .66667rem
}

.message.last.as-emoji:after,.message.last.as-emoji:before,.message.last.media.out:after,.message.last.media.out:before,.message.last.media:after,.message.last.media:before {
  display: none
}

.message .emoji {
  position: relative;
  padding-top: .66667rem
}

.message .emoji .message__date,.message.out .emoji .message__date {
  background: rgba(0,0,0,.2);
  color: #fff;
  border-radius: .73333rem;
  padding: 2PX 6PX
}

.message .emoji__content {
  line-height: 110%;
  padding-bottom: .66667rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.message .emoji__content.e3 {
  font-size: 3.33333rem
}

.message .emoji__content.e2 {
  font-size: 4rem
}

.message .emoji__content.e1 {
  font-size: 5.33333rem
}

.message .emoji~svg {
  display: none
}

.reply {
  padding: .26667rem 0 .4rem
}

.reply__content {
  border-left: 2px solid #4ea4f5;
  padding-left: .4rem
}

.reply__title {
  color: #4ea4f5;
  font-weight: 500
}

.reply__message,.reply__title {
  font-size: .93333rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.reply__message,.reply__message.media {
  color: #707579
}

.message.out .reply__content {
  border-left-color: #4fae4f
}

.message.out .reply__title {
  color: #4fae4f
}

/* html {
  box-sizing: border-box;
  font-size: 15PX;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  height: 100%;
  max-height: 100%;
  overflow: hidden
} */

/* body {
  font-size: 1.06667rem;
  line-height: 1.35;
  color: #000;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
} */

/* body,button,input,select,textarea {
  font-family: Roboto,sans-serif,-apple-system
} */

/* .main {
  width: 100%;
  height: 100%
} */

input[autocomplete=off]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none!important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0
}

input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: inherit;
  box-shadow: inset 0 0 0 66.66667rem #fff
}

input::-ms-clear,input::-ms-reveal,select::-ms-clear,select::-ms-reveal,textarea::-ms-clear,textarea::-ms-reveal {
  display: none
}

.appLoading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 16.66667rem;
  height: 16.66667rem;
  max-width: 100vmin;
  max-height: 100vmin
}

.appLoading__fontsWarmup {
  position: absolute;
  top: -66.66667rem;
  left: -66.66667rem
}

.appLoading__fontsWarmup strong {
  font-weight: 500
}
