<template>
  <link rel="stylesheet" href="./layout-main.css" />

  <aside>
    <layout-chats></layout-chats> <!-- список чатов ? принимает событие поиска по чату -->

    <form-group></form-group>

    <layout-settings></layout-settings> <!-- настройки -->
      <form-settings></form-settings>
      <form-general></form-general>
      <form-notifications></form-notifications>
      <form-privacy></form-privacy>
      <form-language></form-language>

    <layout-icons></layout-icons>
  </aside>
  <main>
    <layout-empty></layout-empty>
    <!-- принимает событие выбора чата -->
    <!-- <layout-conversation></layout-conversation> -->
  </main>
</template>
