<template>
  <link rel="stylesheet" href="./layout-main.css" />

  <aside>
    <!-- список чатов ? принимает событие поиска по чату -->
    <layout-chats></layout-chats>
    <!-- <layout-settings></layout-settings> -->
    <!-- <form-settings></form-settings> -->
    <!-- <form-privacy></form-privacy> ! пусто -->
    <!-- <form-notifications></form-notifications> -->
  </aside>
  <main>
    <!-- <layout-empty></layout-empty> -->
    <!-- принимает событие выбора чата -->
    <layout-conversation></layout-conversation>
  </main>
</template>
