:host {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  width: 26%;
  max-width: 28rem;
  min-width: 21.33333rem;
  color:      var(--foreground);
  background: var(--background-aside);
}

main {
  width: 100%;
  color:      var(--foreground);
  background-color: var(--background);
}
