:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  /* max-width: 420px;
  min-width: 420px; */
  width: 26%;
  max-width: 28rem;
  min-width: 21.33333rem;
  color:      var(--foreground);
  background: var(--background-aside);
  border-right: 1px solid var(--edge);
}

aside[collapsed] {
  min-width: auto;
  width: 6rem;
}

main {
  width: 100%;
  color:      var(--foreground);
  background-color: var(--background);
}
