:host {

}

.wrap {
    width: 0;
    transition-property: width;
    transition-duration: 100ms;
    transition-timing-function: ease-in, ease, linear;
    overflow: hidden;
}

#container {
    width: 420px;
}
