:host {

}

.wrap {
    border-left: 1px solid var(--grayBorderColor);
    width: 0;
    height: 100%;
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: linear;
    overflow: hidden;
}

#container {
    width: 420px;
}
