@charset "utf-8";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

avatar-edit {
  width: 120px;
  height: 120px;
  margin: 0 auto 34px;
}

main {
  display: block;
  height: 100%;
  overflow-y: auto;
  padding: 0px 18px;
}

p {
  font-size: 14px;
  color: rgb(112, 117, 121);
}
