:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #dadce0;
  font-size: 15px;
  height: 100%;
  position: relative;
}

chats-header {
  height: 4.13333rem;
}

ui-list {
  max-height: calc(100% - 4.13333rem);
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

chat-item[lastpin] {
  border-bottom: 1px solid #edeef0;
  padding-bottom: .1rem;
  margin-bottom: calc(.3rem - 1px);
}

ui-fab {
  bottom: -54px;
  transition: .3s ease bottom;
}

ui-list:hover ~ ui-fab, ui-fab:hover, ui-drop:hover ~ ui-fab {
  bottom: 20px;
}

ui-drop {
  right: 16px;
  bottom: 84px;
}
