@charset "utf-8";

:host {
  display: block;
  position: absolute;
  min-width: 218px;
  border-radius: 10px;
  box-shadow: var(--shadow) 0px 0px 10px;
  z-index: 40;
  background-color: var(--drop);
  padding: 8px 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease 0s;
  left: 0;
  top: 100%;
}

:host([up]) {
  top: auto;
  bottom: 100%;
  transform: translateY(10px);
}

:host([right]) {
  left: auto;
  right: 0;
}

:host([show]) {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
