:host {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
s}


.img {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  position: relative;
  color: #fff;
  text-align: center;
  clip-path: polygon(66% 0, 99% 33%, 100% 100%, 3% 100%, 0 100%, 0 0);
  background: var(--file-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  cursor: pointer;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.img:hover ui-icon {
  display: flex;
}

.img .type {
  margin-bottom: 10px;
  font-size: 15px;
}
.img:hover .typeHover {
  display: none;
}

.img:before {
  content: "";
  position: absolute;
  right:-3px;
  top: -2px;
  width: 0px;
  height: 0px;
  border-bottom: 20px solid;
  border-right: 20px solid;
  clip-path: polygon(0 0, 100% 100%, 75% 81%, 15% 81%, -9% 57%, -51% -16%);
  border-color: var(--bent-color);
}

/* если у нас превью картинка */
.preview {
  clip-path: none;
}

.preview:before, .preview:after {
  content: none;
}


ui-icon {
  position: absolute;
  bottom: 12px;
  color: white;
  display: none;
}

#close {
  display: flex;
}

ui-loading-percent {
  position: absolute;
  top: 5px;
  left: 5px;
}

.content {
  flex-grow: 1;
  padding: 0 0 0 12px;
  flex-direction: column;
  overflow: hidden;
}

.desc {
  color: var(--grayTextColor);
  display: inline-flex;
  padding-top: 4px;
}

.size:after {
  content: '·';
  padding: 0 3px;
}
.noafter:after {
  content: none;
}

.name {
  font-weight: 600;
}
