@charset "utf-8";

:host {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--iconStatic);
}

:host(:hover) {
  color: var(--iconHover);
}

slot {
  display: none;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

svg path {
  fill: currentColor;
}
