<template>
  <link rel="stylesheet" href="./chats-header.css" />

  <ui-icon id="menu">menu</ui-icon>
  <ui-drop>
    <ui-item icon="group" data-route="form-group">New group</ui-item>
    <ui-item icon="private">Contacts</ui-item>
    <ui-item icon="archive">Archived</ui-item>
    <ui-item icon="favorite">Saved</ui-item>
    <ui-item icon="settings" data-route="layout-settings">Settings</ui-item>
    <ui-item icon="help" data-route="//telegram.org/support">Help</ui-item>
    <ui-item icon="bulb" data-route="#night-mode">Night Mode</ui-item>
    <ui-item icon="back" data-route="#collapse">Collapse</ui-item>
  </ui-drop>

  <ui-search>Search</ui-search>
</template>
