<template>
  <link rel="stylesheet" href="./chats-header.css" />

  <ui-icon id="menu">menu</ui-icon>
  <ui-drop>
    <ui-item data-route="form-group">
      <ui-icon>group</ui-icon>
      New group
    </ui-item>

    <ui-item>
      <ui-icon>private</ui-icon>
      Contacts
    </ui-item>

    <ui-item>
      <ui-icon>archive</ui-icon>
      Archived
    </ui-item>

    <ui-item>
      <ui-icon>favorite</ui-icon>
      Saved
    </ui-item>

    <ui-item data-route="layout-settings">
      <ui-icon>settings</ui-icon>
      Settings
    </ui-item>

    <ui-item data-route="//telegram.org/support">
      <ui-icon>help</ui-icon>
      Help
    </ui-item>

    <ui-item data-route="layout-icons">
      Icons
    </ui-item>
  </ui-drop>

  <div>
    <ui-icon id="search">search</ui-icon>
    Search
  </div>
</template>
