@charset "utf-8";

:host {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #dadce0;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  z-index: 30;
}

slot {
  display: none;
}

ui-icon {
  width: 24px;
  height: 24px;
}
