:host {
  display: block;
  width: 100%;
  height: 54px;
  border: 1px solid #8d969c;
  border-radius: 10px;
  position: relative;
  margin-bottom: 24px;
}

:host(:focus-within) {
  border-color: #4ea4f6!important;
  box-shadow: #4ea4f6 0 0 0 1px!important;
}

:host([error]) {
  border-color: #f6553b;
  box-shadow: #f6553b 0 0 0 1px;
}

span.error {
  display: none;
  position: absolute;
  top: -13px;
  left: 10px;
  z-index: 20;
  background: var(--background-aside);
  padding: 4px;
  font-size: 12px;
  color: #f6553b;
}
:host([error]) span.error {
  display: block;
}
:host([error]:focus-within) span.error {
  display: none;
}

label {
  display: none;
  position: absolute;
  top: -13px;
  left: 10px;
  z-index: 20;
  background: var(--background-aside);
  padding: 4px;
  font-size: 12px;
  color: #8d969c;
}

:host(:focus-within) label {
  display: block;
  color: #4ea4f6
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

input {
  color: var(--foreground);
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  padding: 0px 14px;
  resize: none;
  /* outline: none; */
}

:host([disabled]) {
  opacity: 0.7;
}
