:host {
  display: block;
  padding: 0 .53333rem 2px;
  border-bottom: 1px solid transparent;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.dialog__clickable {
  padding: 9px;
  /* 9px 0 9px; */
  border-radius: .66667rem;
  cursor: pointer;
  width: 100%;
  transition: background-color .2s ease;
  box-sizing: border-box;
}

.dialog__clickable .-selected, .dialog__clickable:hover {
  background-color: var(--background-aside-hover);
}

.ripple__content {
  position: relative;
  z-index: 2;
}

.dialog__clickable .ripple__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.6rem;
}

slot[name="avatar"]::slotted(ui-avatar) {
  width: 3.6rem;
}

.dialog__content {
  padding-left: .66667rem;
  flex: 1 50%;
  max-width: calc(100% - 3.66667rem);
  box-sizing: border-box;
}

:host-context(aside[collapsed]) .dialog__content {
  display: none;
}

.dialog__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

slot[name="title"] {
  display: block;
  color: var(--foreground);
  font-weight: 500;
  font-size: 1rem;
  line-height: 190%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

slot[name="title"]::slotted(ui-icon), .dialog__date > ui-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

slot[name="title"]::slotted(ui-icon) {
  margin-left: 4px;
}

.dialog__date > ui-icon {
  margin-right: 4px;
}

.dialog__date > ui-icon:empty {
  display: none;
}

.dialog__date {
  font-size: .8rem;
  font-weight: 300;
  padding-left: 1rem;
  color: #5f6369;
  margin-top: 8px;
  white-space: nowrap;
}

.dialog__preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.dialog__message {
  color: #707579;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: .26667rem;
  line-height: 150%;
  position: relative;
  flex: 1 50%;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog__message_title {
  font-weight: 400;
  color: var(--foreground-accent);
}
.dialog__message_title::slotted(*)::after {
  content: ':';
}

ui-badge {
  /* background-color: #4ccd5e; */
  /* color: #fff; */
  /* padding: 0 7PX; */
  /* height: 22PX; */
  /* min-width: 22PX; */
  /* line-height: 1.46667rem; */
  /* font-size: 12PX; */
  /* font-weight: 500; */
  /* border-radius: 11PX; */
  /* text-align: center; */
  /* margin-left: .66667rem; */
  margin-top: 3px;
}

:host([badge]) .dialog__pin,
:host(:not([pin])) .dialog__pin,
:host(:not([badge])) ui-badge {
  display: none;
}

.dialog__pin {
  height: 22PX;
  width: 22PX;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* .dialog__pin,
:host([muted]) ui-badge {
  background-color: #c4c9cc;
} */
