:host {
  display: block;
  position: relative;
  padding-left: 53px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--grayTextColor);
}

input[type="checkbox"]:checked ~ span.checkmark {
  border-color: #4ea4f6;
  background-color: #4ea4f6;
}

input[type="checkbox"] ~ ui-icon {
  display: none;
  position: absolute;
  left: 0;
  top: 0px;
  width: 18px;
  height: 18px;
  color: #fff;
}

input[type="checkbox"]:checked ~ ui-icon {
  display: block;
}

span.hint {
  display: none;
  font-size: 14px;
  color: rgb(112, 117, 121);
  margin-top: 5px;
}

:host([hint]) span.hint {
  display: block;
}

:host([hint]) input[type="checkbox"]:not(:checked) ~ span.hint:before {
  content: 'Dis';
}

:host([hint]) input[type="checkbox"]:checked ~ span.hint:before {
  content: 'En';
}
