@charset "utf-8";

:host {
  height: 60px;
  display: flex;
  align-items: center;
  /* padding-left: 18px; */
  padding: 0 8px 0 10px;
  width: 100%;
  box-sizing: border-box;

  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  /* margin-left: 22px; */
  position: relative;
}

ui-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 44px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  padding: 10px;
  color: var(--iconStatic);
}

ui-icon:hover {
  background-color: var(--background-field);
  color: var(--iconHover);
}

#more {
  display: none;
}

ui-drop {
  right: 8px;
}

slot:not([name]) {
  display: block;
  width: 100%;
  /* padding-left: 36px; */
  padding-left: 24px;
  user-select: none;
}
