@charset "utf-8";

:host {
  height: 60px;
  display: flex;
  align-items: center;
  /* padding-left: 18px; */
  padding: 0 8px 0 10px;
  width: 100%;
  box-sizing: border-box;

  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  /* margin-left: 22px; */
  position: relative;
}

icon-back,
icon-more {
  cursor: pointer;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  line-height: 44px;
  flex-shrink: 0;
}

icon-back:hover, icon-more:hover {
  background-color: #F4F4F5;
}

icon-more {
  display: none;
}

slot:not([name]) {
  display: block;
  width: 100%;
  /* padding-left: 36px; */
  padding-left: 24px;
}
