<template>
  <link rel="stylesheet" href="./layout-search.css" />

  <div class="search">
    <div class="header">
      <ui-icon id="close">close</ui-icon>
      <form-search active></form-search>
    </div>

    <div class="result">
      <div class="count">2 messages found</div>
      <ui-grid rows="auto" columns="100%" row-gap="20px">
        <ui-member src="./content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" name="Raaid El Syed" right="May 8">
          <div class="desc">Party abrakadabra lorem ipsum pipsum asdasdas  asdasda asdas</div>
        </ui-member>
        <ui-member src="./content/7df97dad-26f3-4d32-bd61-b63c100c2504.jpeg" name="Raaid El Syed" right="May 8">
          <div class="desc">Party aasdasda asdas</div>
        </ui-member>
      </ui-grid>
    </div>
  </div>
</template>
