:host {
}

.header {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.header ui-icon {
    cursor: pointer;
}

.search #close {
    color: var(--iconStatic);
}

ui-search {
    margin-left: 20px;
}

.result {
    padding: 0 20px;
}

.result .count {
    color: var(--grayTextColor);
    padding-bottom: 20px;
}

.desc {
    padding-top: 6px;
    color: var(--grayTextColor);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
