:host {
}

.header {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.header ui-icon {
    cursor: pointer;
}

.search #close {
    color: var(--iconStatic);
}

form-search {
    margin-left: 20px;
}

.result {
    padding: 0 20px;
}

.result .count {
    color: var(--grayTextColor);
    padding-bottom: 20px;
}

.result .list {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-self: flex-start;
}
.result .list .item {
    display: flex;
    align-items: center;
}
.result .list .item + .item {
    padding-top: 20px;
}
.result .list .item  .desc {
    padding-top: 6px;
    color: var(--grayTextColor);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
