@charset "utf-8";

:host {
  flex: 1 50%;
  height: 2.93333rem;
  padding: 0 .8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.46667rem;
  border: 1px var(--edge) solid;
  background-color: var(--field);
}

:host(:hover) {
  border-color: var(--foreground-label);
}

:host(:focus-within) {
  border-color: var(--iconHover);
}

slot {
  display: none;
}

input {
  font-weight: 300;
  left: 16px;
  width: 100%;
  padding: 0;
  height: 42px;
  border: none;
  outline-offset: 0;
  outline: none;
  font-size: 20px;
  background-color: transparent;
  color: var(--foreground);
}

input:focus {
  left: 16px;
  width: 100%;
  padding: 0;
  height: 35px;
  border: none;
}

ui-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .4rem;
  flex: none;
  color: var(--iconStatic);
  left: 16px;
}

:host(:focus-within) ui-icon {
  color: var(--iconHover);
}

