@charset "utf-8";

:host {
  flex: 1 50%;
  height: 2.93333rem;
  padding: 0 .8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.46667rem;
  border: 2px transparent solid;
  background-color: #f4f4f5;
  color: #8d969c;
}

:host(:focus-within) {
  background-color: white;
  color: #8d969c;
  border: 2px var(--blueColor) solid;
}

slot {
  display: none;
}

input {
  left: 16px;
  width: 100%;
  padding: 0;
  height: 42px;
  border: none;
  outline-offset: 0;
  outline: none;
  font-size: 20px;
  opacity: 1;
  background-color: #f4f4f5;
}
:host(:focus-within) input {
  background-color: white;
}

input:focus {
  left: 16px;
  width: 100%;
  padding: 0;
  height: 35px;
  border: none;
}

ui-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .4rem;
  flex: none;
  color: var(--iconStatic);
  left: 16px;
}

:host(:focus-within) ui-icon {
  color: var(--iconHover);
}

