:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ui-loading {
  width: 80px;
  height: 80px;
}

/* ui-loading.loading {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

ui-loading.visible {
  opacity: 1;
} */
